---
import { SVG_PATH } from "../consts.ts";
---

<nav class="sidebar">
  <div class="accordion accordion_style-basic accordion_color-theme">
    <div>
      <div class="accordion__label">
        Introduction
        <svg
          class="accordion__label-icon icon icon_fill"
          role="img"
          aria-label="Expand/Collapse list"
        >
          <use href={`${SVG_PATH}#icon-caret`}></use>
        </svg>
      </div>
      <ul class="nav accordion__content accordion__content--visible">
        <li>
          <a class="link link_style-default" href="/">File Structure</a>
        </li>
        <li>
          <a class="link link_style-default" href="changelog">Changelog</a>
        </li>
        <li>
          <a class="link link_style-default" href="quickstart"
            >Quick Start Guide</a
          >
        </li>
      </ul>
    </div>

    <div>
      <div class="accordion__label">
        Layout
        <svg
          class="accordion__label-icon icon_rotate180 icon icon_fill"
          role="img"
          aria-label="Expand/Collapse list"
        >
          <use href={`${SVG_PATH}#icon-caret`}></use>
        </svg>
      </div>
      <ul class="nav accordion__content">
        <li>
          <a class="link link_style-default" href="flex">Flex Layouts</a>
        </li>
        <li>
          <a class="link link_style-default" href="form-layouts">Form Layouts</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="grid">Grid System</a>
        </li>
        <li>
          <a class="link link_style-default" href="dimensions"
            >Spacing, Positioning &amp; Dimensions</a
          >
        </li>
      </ul>
    </div>

    <div>
      <div class="accordion__label">
        Content
        <svg
          class="accordion__label-icon icon_rotate180 icon icon_fill"
          role="img"
          aria-label="Expand/Collapse list"
        >
          <use href={`${SVG_PATH}#icon-caret`}></use>
        </svg>
      </div>
      <ul class="nav accordion__content">
        <li>
          <a class="link link_style-default" href="icons">Icons</a>
        </li>
        <li>
          <a class="link link_style-default" href="links">Links</a>
        </li>
        <li>
          <a class="link link_style-default" href="typography">Typography</a>
        </li>
        <li>
          <a class="link link_style-default" href="videos">Videos</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="accordion__label">
        Components
        <svg
          class="accordion__label-icon icon_rotate180 icon icon_fill"
          role="img"
          aria-label="Expand/Collapse list"
        >
          <use href={`${SVG_PATH}#icon-caret`}></use>
        </svg>
      </div>
      <ul class="nav accordion__content">
        <li>
          <a class="link link_style-default" href="alerts">Alerts</a>
        </li>
        <li>
          <a class="link link_style-default" href="buttons">Buttons</a>
        </li>
        <li>
          <a class="link link_style-default" href="forms">Form Fields</a>
        </li>
        <li>
          <a class="link link_style-default" href="lists">Lists</a>
        </li>
        <li>
          <a class="link link_style-default" href="progress">Progress Bars</a>
        </li>
        <li>
          <a class="link link_style-default" href="tables">Tables</a>
        </li>
        <li>
          <a class="link link_style-default" href="tabs">Tabs</a>
        </li>
      </ul>
    </div>

    <div>
      <div class="accordion__label">
        Interactive Features
        <svg
          class="accordion__label-icon icon_rotate180 icon icon_fill"
          role="img"
          aria-label="Expand/Collapse list"
        >
          <use href={`${SVG_PATH}#icon-caret`}></use>
        </svg>
      </div>
      <ul class="nav accordion__content">
        <li>
          <a class="link link_style-default" href="features/accordions"
            >Accordions</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/calendars"
            >Date &amp; Time Pickers</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/epicmodals"
            >Epicmodals</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/parsley"
            >Parsley.js</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/readmore"
            >Read More/Show Less</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/scrollable"
            >Scrollable</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/scrolltotop"
            >Scroll to Top</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/tablesorter"
            >Tablesorter</a
          >
        </li>
        <li>
          <a class="link link_style-default" href="features/tooltips"
            >Tooltips</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
