---
import { SVG_PATH, SIDEBAR_SECTIONS } from "@/consts.ts";
import type { SidebarSection } from "@/types.ts";

const baseUrl = import.meta.env.BASE_URL;

interface Props {
  current: SidebarSection;
}

const { current } = Astro.props;

const introLinks = [
  { name: "File Structure", path: `${baseUrl}` },
  { name: "Changelog", path: `${baseUrl}changelog` },
  { name: "Quick Start Guide", path: `${baseUrl}quickstart` },
];

const layoutLinks = [
  { name: "Flex Layouts", path: `${baseUrl}flex` },
  { name: "Form Layouts", path: `${baseUrl}form-layouts` },
  { name: "Grid System", path: `${baseUrl}grid` },
  { name: "Spacing, Positioning & Dimensions", path: `${baseUrl}dimensions` },
];

const contentLinks = [
  { name: "Icons", path: `${baseUrl}icons` },
  { name: "Links", path: `${baseUrl}links` },
  { name: "Typography", path: `${baseUrl}typography` },
  { name: "Videos", path: `${baseUrl}videos` },
];

const componentLinks = [
  { name: "Alerts", path: `${baseUrl}alerts` },
  { name: "Buttons", path: `${baseUrl}buttons` },
  { name: "Form Fields", path: `${baseUrl}forms` },
  { name: "Lists", path: `${baseUrl}lists` },
  { name: "Progress Bars", path: `${baseUrl}progress` },
  { name: "Tables", path: `${baseUrl}tables` },
  { name: "Tabs", path: `${baseUrl}tabs` },
];

const featureLinks = [
  { name: "Accordions", path: `${baseUrl}features/accordions` },
  { name: "Date & Time Pickers", path: `${baseUrl}features/calendars` },
  { name: "Epicmodals", path: `${baseUrl}features/epicmodals` },
  { name: "Parsley.js", path: `${baseUrl}features/parsley` },
  { name: "Read More & Show Less", path: `${baseUrl}features/readmore` },
  { name: "Scrollable", path: `${baseUrl}features/scrollable` },
  { name: "Scroll to Top", path: `${baseUrl}features/scrolltotop` },
  { name: "Tablesorter", path: `${baseUrl}features/tablesorter` },
  { name: "Tooltips", path: `${baseUrl}features/tooltips` },
];

const sections = [
  { name: SIDEBAR_SECTIONS.INTRO, links: introLinks },
  { name: SIDEBAR_SECTIONS.LAYOUT, links: layoutLinks },
  { name: SIDEBAR_SECTIONS.CONTENT, links: contentLinks },
  { name: SIDEBAR_SECTIONS.COMPONENTS, links: componentLinks },
  { name: SIDEBAR_SECTIONS.FEATURES, links: featureLinks },
];
---

<nav class="sidebar">
  <div class="accordion accordion_style-basic accordion_color-theme">
    {
      sections.map((section) => (
        <div>
          <div class="accordion__label">
            {section.name}
            <svg
              class={`accordion__label-icon icon icon_fill
                ${section.name !== current && " icon_rotate180"}`}
              role="img"
              aria-label="Expand/Collapse list"
            >
              <use href={`${SVG_PATH}#icon-caret`} />
            </svg>
          </div>
          <ul
            class={`nav accordion__content ${section.name === current && " accordion__content--visible"}`}
          >
            {section.links.map((link) => (
              <li>
                <a class="link link_style-default" href={link.path}>
                  {link.name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</nav>
