---
import PublicImports from "@/components/PublicImports.astro";
import Header from "@components/Header.astro";
import Sidebar from "@components/Sidebar.astro";
import Footer from "@components/Footer.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SIDEBAR_SECTIONS } from "@/consts.ts";
import type { SidebarSection } from "@/types.ts";

const baseUrl = import.meta.env.BASE_URL;
const cssPath = import.meta.env.PUBLIC_CSS_PATH;

interface Props {
  title?: string;
  description?: string;
  pagecss?: string;
  currentSection?: SidebarSection;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  pagecss,
  currentSection = SIDEBAR_SECTIONS.INTRO,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <PublicImports />

    <!-- page stylesheet, optional -->
    {
      pagecss && (
        <link rel="stylesheet" href={`${baseUrl}${cssPath}/pages/${pagecss}`} />
      )
    }
  </head>

  <body>
    <Header />
    <div class="container" role="presentation">
      <Sidebar current={currentSection} />
      <main class="main global-padding">
        <slot />
      </main>
    </div>
    <Footer />
    <ScrollToTop />
  </body>
</html>
